---
- name: Ensure ThreatStack dependencies are installed
  apt:
    name: "{{ item }}"
    state: present
    loop:
      - python-apt
      - apt-transport-https

- name: Add ThreatStack apt repository key
  apt_key:
    url: "{{ threatstack_url }}/APT-GPG-KEY-THREATSTACK"
    id: 6EE04BD4
    validate_certs: no

- name: Add ThreatStack apt repository
  apt_repository:
    repo: "deb {{ threatstack_pkg_url }}/Ubuntu {{ ansible_distribution_release }} main"
    state: present
    update_cache: yes

- name: Ensure 2.x is installed when no version specified
  set_fact:
    threatstack_pkg: threatstack-agent=2*
  when:
    - not threatstack_v1
    - threatstack_pkg == 'threatstack-agent'

- name: Ensure ThreatStack is installed
  apt:
    name: "{{ threatstack_pkg }}"
    state: "{{ threatstack_pkg_state }}"
