---

# agent setup

- name: Get setup string
  set_fact:
    setup_string: tsagent setup --url {{ threatstack_url }} --deploy-key {{ threatstack_deploy_key }} --ruleset "{{ threatstack_ruleset | join(",") }}" --hostname "{{ threatstack_hostname | default('') }}" {{ threatstack_agent_extra_args }}

- name: Get checksum of setup string
  set_fact:
    setup_checksum: "{{ setup_string | checksum }}"

- name: Get agent registration status
  command: tsagent info
  check_mode: no # Cannot skip this step in check mode.
  register: tsagent_info_cmd
  changed_when: False  # Info only so shouldn't be captured as a change.

- name: Create file to track checksum of setup string
  copy:
    content: "{{ setup_checksum }}"
    dest: /opt/threatstack/etc/.setup_checksum
    owner: root
    group: root
    mode: 0644
  register: setup_file

- name: Get config string
  set_fact:
    config_string: tsagent config --set {{ threatstack_agent_config_args }}

- name: Get checksum of config string
  set_fact:
    config_checksum: "{{ config_string | checksum }}"

- name: Create file to track checksum of config string
  copy:
    content: "{{ config_checksum }}"
    dest: /opt/threatstack/etc/.config_checksum
    owner: root
    group: root
    mode: 0644
  register: config_file
  when: threatstack_agent_config_args != None

- name: Ensure ThreatStack is stopped
  service:
    name: threatstack
    state: stopped
  when: setup_file.changed or config_file.changed

- name: Agent setup
  command: "{{ setup_string }}"
  register: setup_result
  changed_when: False
  until: setup_result is succeeded
  retries: 3
  delay: 10
  # We want to run setup if the setup configuration has changed, or if we detect the agent has
  # not completed registration (e.g., a prior, failed ansible run).
  when: (setup_file.changed) or (tsagent_info_cmd.stdout.find('You must register your agent') != -1)

- name: Wait 5 seconds
  pause:
    seconds: 5

- name: Agent config
  command: "{{ config_string }}"
  when: config_file.changed

- name: Restart tsagent
  service: name=threatstack state=restarted
  when: (setup_file.changed or config_file.changed) and not threatstack_agent_disable_service | bool

- name: Wait 5 seconds
  pause:
    seconds: 5
  when: setup_file.changed or config_file.changed

- name: Get agent state
  command: tsagent status
  register: tsagent_status
  retries: 5
  delay: 2
  until: tsagent_status is succeeded
  changed_when: False
  when: setup_file.changed or config_file.changed
  tags:
    - checkstate

- name: Ensure agent is running and started on boot
  service:
    name: threatstack
    state: started
    enabled: yes
  when: not threatstack_agent_disable_service | bool
