{
{% if threatstack_hostname is defined %}
  "hostname": "{{ threatstack_hostname }}",
{% endif %}
{% if threatstack_ruleset | length > 0 %}
  "ruleset": "{{ threatstack_ruleset.join(",") }}"
{% endif %}
  "deploy-key": "{{ threatstack_deploy_key | mandatory }}"
}
