{
{% if threatstack_url is defined %}
  "url": "{{ threatstack_url }}",
{% endif %}
{% if threatstack_ruleset | length > 0 %}
  "ruleset": "{{ threatstack_ruleset | join(",") }}",
{% endif %}
  "deploy-key": "{{ threatstack_deploy_key | mandatory }}"
}
